[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pbr = "*"

[packages]
requests = ">=2.22.0"
urllib3 = "*"
ShExJSG = ">=0.7.1"
CFGraph = ">=0.2.1"
PyShExC = "==0.8.3"
